@media (max-width: 767px) {
  
  header {
    height: auto;
  }
  
  #hamburger {
    display: flex;
  }
  
  .nav-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
  }
  
  .logo {
    font-size: 1.2rem;
  }
  
  nav {
    position: relative;
    z-index: 100;
    padding: .8rem 1rem;
  }
  
  .nav-links {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    
    background: var(--background);
    
    position: absolute;
    z-index: 100;
    top: 100%;
    right: 0;
    width: 50vw;
    height: calc(100vh - 100%);
    margin: 10px 0 20px 0;
    border: 1px solid var(--borders);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .nav-links.open {
    display: flex;
    animation: slideIn 0.3s ease-in-out forwards;
  }
  
  .nav-links.closing {
    display: flex;
    animation: slideOut 0.3s ease-in-out forwards;
  }
  
  @keyframes slideIn {
    from {transform: translateX(100%);}
    to {transform: translateX(0);}
  }
  
  @keyframes slideOut {
    from {transform: translateX(0);}
    to {transform: translateX(100%);}
  }
  
  .nav-links a{
   font-size: 1.2rem;
   font-weight: 400;
  }
  
  .menu-socials {
    display: flex;
  }
  
  #theme-toggle {
    width: 1.3rem;
    height: 1.3rem;
  }
  
  body.no-scroll {
    overflow: hidden;
  }
  
  #hero {
    width: 100vw;
  }
  
  
  .hero-eyebrow {
    font-size: .8rem;
    margin-bottom: .3rem;
  }
  
  .hero-content h1{
    font-size: 2rem !important;
  }
  
  [data-theme="light"] .hero-content :is(h1, #hero .desc){
    color: var(--background);
  }
  
  #hero .desc {
    font-size: .9rem;
  }
  
  #hero .btnWrapper a{
    font-size: .8rem;
    padding: .4rem .8rem;
  }
  
  .eyebrow {
    font-size: .8rem;
  }
  
  .projects-heading h2 {
    font-size: 1.3rem;
  }
  
  .projects-heading .desc br{
    display: none;
  }
  
  .project-cards {
    margin-inline: 1rem;
  }
  
  .skills-heading h2 {
  font-size: 1.3rem;
  }
  
  .skills-heading .desc {
    font-size: .9rem;
    margin-top: 8px;
  }
  
  .skills-heading .desc br{
    display: none;
  }
  
  .contact-heading h2 {
    font-size: 1.3rem;
  }
  
  .contact-heading .desc {
    font-size: .8rem;
    margin-top: .8rem;
  }
  
  .contact-links a {
    font-size: .8rem;
    padding: .4rem .8rem;
    margin-top: 1rem;
  }
  
  .contact-links a svg{
    height: 16px !important;
    width: 16px !important;
  }
  
  .contact-links a .unicode-arrow{
    width: 10px;
    height: 10px;
  }
  
  #cta h2{
    font-size: 1.3rem;
  }
  
  #cta .desc {
    font-size: .8rem;
  }
  
  .cta-btn {
    font-size: .9rem;
    padding: .4rem .9rem;
    margin: .8rem 0;
  }
  
  .footer-content {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 10px;
    margin-bottom: 1rem;
  }
  
  .footer-about p {
    font-size: .8rem;
    margin-top: 6px;
  }
  
  .footer-links a {
    font-size: .9rem;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    transform: translateX(0) translateY(0);
  }
  
  .footer-svgs svg {
    width: 24px;
    height: 24px;
  }
  
  .footer-bottom p {
    font-size: .85rem;
  }
  
  .lightbox-close {
    width: 28px;
    height: 28px;
    font-size: 1rem;
  }
  
}

@media (min-width: 768px) and (max-width: 1023px) {
  
  .projects-heading .desc {
    font-size: .9rem;
  }
  
  .skills-heading .desc {
    font-size: .85rem;
  }
  
  .contact-heading .desc {
   font-size: 1.2rem !important;
    margin: 1rem 0;
  }
  
  #cta .desc {
    font-size: 1rem;
    margin-bottom: .6rem;
  }
  
  .cta-btn {
    font-size: .95rem;
  }
  
  
}

@media (min-width: 1024px) {
  
}